
.margenes {margin: 50px ;}


header nav ul li {
text-decoration:none;
display: flex;
display: inline-block;
margin: 5px;
}

.titulos {
color: black;
font-family: 'Alegreya Sans', sans-serif;
font-size: 50px;
font-weight: 200;
font-style: unset;
text-align: center;
text-decoration: solid;
}

body {background-color: white;
margin: 50px;}

.ul {
display: flex;
flex-wrap: wrap;
grid-area: ul;
color: black;
padding: 10px;
margin: 10px;
font-family: 'Alegreya Sans', sans-serif;
list-style: none;
}

.img {
display: flex;
width: 150px;
grid-area: img;
}

nav {
margin: 50px;
text-decoration: none;
border-top: black solid 1px;
border-bottom: black ridge 0.5px;
align-items: center;
justify-content:ce ;
display: grid;
grid-template-columns: 0.5fr 1fr;
grid-template-rows: 1fr;
grid-template-areas: 
"img ul";
}

@media (max-width:576px) { 
nav {
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
grid-template-areas:
"img img"
"ul ul";
}
}

.imagen {width: 100px;}

p {padding: 4px;
    font-family: 'Alegreya Sans', sans-serif;}

h2 {color: black;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: 200px;
    font-style: unset;
    text-align: left;
    text-decoration: solid;
    font-family: 'Alegreya Sans', sans-serif;
    }

ul {list-style-type: none;}


.clasecaja {
background-color:white;
width: 60%;
text-align: center;
overflow: auto;
display: inline-block;
text-align: center;
}


.divok
{
padding: 45px;
display: flex;
flex-direction: row;
margin: 10px;}

.footerclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px;
    border-top-style: ridge  ;
    margin: 1px;
    font-size: 12px;
    font-weight: 200;
    font-style: unset;
    text-align: left;
    text-decoration: solid;
    font-family: 'Alegreya Sans', sans-serif}

    .imgfooter{
    width: 50%;
    }

.paddingquienes{padding: 45px;}

.antesydespues{
background-color: bisque;
margin: 20px;
padding: 10px;
text-align: center;
align-items: center;
height: 330px;}

.prensa{
    text-decoration: none;
    background-color: lightyellow;
    margin: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    height: 308px;}

.h2class {text-align: center;
text-decoration:none;}

.imagenclass {
align-content: center;
}


.carrusel {padding: 10px 45px 45px 45px;}


.divquienes {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr;
grid-template-areas:
"main sec sec"
"main as as" ;
}

.mainquienes {
grid-area: main;
display: flex;
flex-direction: column;
align-items: center;
flex-direction: row;
justify-content: center;
height: 400px;
}

.imgquienes {width: 500px;}

.sectionquienes {
grid-area: sec;
display: flex;
padding: 10px;
}

.asidequienes {
grid-area: as;
display: flex;
flex-direction: column;
align-items: center;
flex-direction: row;
justify-content: center;
height: 90px;
}


.imgas {
    width: 150px;
    }
    
    
.imgproy {width: 100%;}
    


.divproy {
    padding: 45px;

    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "main sec"
    "main as" ;
    }

.mainproy{
grid-area: main;
display: flex;
flex-direction: column;
align-items: center;
flex-direction: row;
justify-content: center;
height: 400px;
 }

.sectionproy {
grid-area: sec;
display: flex;
padding: 10px;
}

.asproy {
grid-area: as;
display: flex;
flex-direction: column;
align-items: center;
flex-direction: row;
justify-content: center;
column-gap: 20px;
height: 50px;
}


@media (max-width: 576px)
{ 
   .divproy{
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 576px)
{ 
   .divquienes{
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
}
}

