
.margenes {margin: 50px ;}



.titulos {
padding: 30px;
color: black;
font-family: 'Alegreya Sans', sans-serif;
font-size: 35px;
font-weight: 200;
font-style: unset;
text-align: center;
text-decoration: solid;
}

body {background-color: white;
margin: 50px;}

.ul {
display: flex;
flex-wrap: wrap;
grid-area: ul;
color: black;
padding: 10px;
margin: 10px;
font-family: 'Alegreya Sans', sans-serif;
list-style: none;
}

.img {
display: flex;
width: 150px;
grid-area: img;
}


.imagen {width: 100px;}

p {padding: 4px;
    font-family: 'Alegreya Sans', sans-serif;}

h2 {color: black;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: 200px;
    font-style: unset;
    text-align: left;
    text-decoration: solid;
    font-family: 'Alegreya Sans', sans-serif;
    }

ul {list-style-type: none;}


.clasecaja {
background-color:white;
width: 60%;
text-align: center;
overflow: auto;
display: inline-block;
text-align: center;
}


.divok
{
padding: 45px;
display: flex;
flex-direction: row;
margin: 10px;}



.paddingquienes{padding: 45px;}

.antesydespues{
background-color: bisque;
margin: 20px;
padding: 10px;
text-align: center;
align-items: center;
height: 330px;}



.h2class {text-align: center;
text-decoration:none;}

.imagenclass {
align-content: center;
}


.carrusel {padding: 10px 45px 45px 45px;}


.divquienes {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr;
grid-template-areas:
"main sec sec"
"main as as" ;
}

.mainquienes {
grid-area: main;
display: flex;
flex-direction: column;
align-items: center;
flex-direction: row;
justify-content: center;
height: 400px;
}

.imgquienes {width: 500px;}

.sectionquienes {
grid-area: sec;
display: flex;
padding: 10px;
}

.asidequienes {
grid-area: as;
display: flex;
flex-direction: column;
align-items: center;
flex-direction: row;
justify-content: center;
height: 90px;
}


.imgas {
    width: 150px;
    }
    


.divboot {border: ridge 1px black; 
    
    justify-content: center;
align-items: center;}

.imgboot1 {width: 100%;}

.imgboot2 {width: 120px; }


.card {border: none;
background-color: ghostwhite;
height: 50px;
}

main div div div a {
text-decoration: none;
color: black;
}

.botoncard {
border: 2px solid black; 
padding: 3px;
font-size: 15px;
}

.dosfotos {
padding: 10px;
}

.imagennav {width: 80px;}
