@import"./abstract/variables";
@import"./abstract/maps";
@import"./base/resets";
@import"./abstract/extend";

@import"./componentes/barranav";
@import"./componentes/proyectos";
@import"./componentes/antesydespues";
@import"./componentes/index";
@import"./componentes/prensa";
@import"./componentes/quienessomos";


body {
    padding: 0px;
    margin: 0px;
    }
    
.titulos {
    padding: 30px;
    color: black;
    font-family: $font-text;
    font-size: 35px;
    font-weight: 200;
    font-style: unset;
    text-align: center;
    text-decoration: solid;
    
    }
    
    
p {padding: 4px;
        font-family: $font-text;
        }
    
h2 {color: black;
        padding: 10px;
        margin: 10px;
        font-size: 25px;
        font-weight: 200px;
        font-style: unset;
        text-align: left;
        text-decoration: solid;
        font-family: $font-text;
        }
    
    
main div div div a {
        text-decoration: none;
        color: black;
        }
    
.dosfotos {
    padding: 20px;
            }
    
    

