
.contenidoantes
{width: 85%;
padding: 5px;}

.antesydespues{
background-color: bisque;
margin: 20px;
padding: 10px;
text-align: center;
align-items: center;
height: 330px;
color: $color-font;}

.card {border: none;
    background-color: ghostwhite;
    height: 50px;
    }
    
.botoncard {
    border: 2px solid black; 
    padding: 3px;
    font-size: 15px;
    }

.foto4 {height: 430px; width: 80%;}

.fotos123{justify-content: center;}