.cardquienes{
    padding-top: 30px;
    padding-bottom: 70px;
    height: 400px;
    justify-content: center;
    }
    
.imagenquienes{
width: 80%;
padding-right: 10px;}

.paddingquienes{padding: 45px;}