.cardquienes{
    padding-top: 30px;
    height: 600px;
    justify-content: center;
    }
    
.imagenquienes1{
width: 80%;
}

.imagenquienes2{
    width: 60%;
    }

.imagenquienes3{
        width: 80%;
        }
        
